<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Trainingsplan erstellen - Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="popup">
            <div class="popup-content">
                <p>{{ message }}</p>
                    <button type="button" onclick="window.location.href='/create-workout'">OK</button>
            </div>
        </div>
    {% endfor %}
{% endwith %}

<form method="POST" action="{{ '/edit-workout/' + workout[0]|string if workout else '/create-workout' }}">

    <h1>Trainingsplan erstellen</h1>
        <label for="workout_name">Name des Trainingsplans:</label>
        <input type="text" id="workout_name" name="workout_name" value="{{ workout[1] if workout else '' }}">

    <div class="backButton"><button type="button" onclick="window.location.href='/fitness'">Zurück</button></div>

    <!--Rücken -->
    <div class="muscle-group" id="backExercises">
        <h2>Rücken</h2>
            <button class="addExercise" type="button" onclick="addBackExercise()"> + Übung hinzufügen</button>
    </div>

    <!--Brust -->
    <div class="muscle-group" id="chestExercises">
        <h2>Brust</h2>
            <button class="addExercise" type="button" onclick="addChestExercise()">+ Übung hinzufügen</button>
    </div>

    <!--Arme -->
    <div class="muscle-group" id="armsExercises">
        <h2>Arme</h2>
            <button class="addExercise" type="button" onclick="addArmsExercise()">+ Übung hinzufügen</button>
    </div>

    <!--Schultern -->
    <div class="muscle-group" id="shoulderExercises">
        <h2>Schultern</h2>
            <button class="addExercise" type="button" onclick="addShoulderExercise()">+ Übung hinzufügen</button>
    </div>

    <!--Beine -->
    <div class="muscle-group" id="legsExercises">
        <h2>Beine</h2>
            <button class="addExercise" type="button" onclick="addLegsExercise()">+ Übung hinzufügen</button>
    </div>

<script>
    const savedExercises = JSON.parse('{{ exercises | tojson }}');          <!-- Python-Daten werden zuerst in JSON umgewandelt (tojson) und danach von JavaScript wieder als Daten eingelesen (JSON.parse) -->
</script>
<script src="{{ url_for('static', filename='js/fitness.js') }}"></script>   <!-- JavaScript wird erst hier geladen, damit die HTML-Elemente bereits existieren,
                                                                                 bevor JavaScript versucht, sie zu finden und zu verändern
                                                                                 Wird das Script vorher geladen, findet JavaScript die HTML-Elemente nicht
                                                                                 und die Funktionen funktionieren nicht-->
<div class="saveWorkout">
    <button type="submit">Trainingsplan speichern</button>
</div>

</form>
</body>

</html>