<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Fitness - Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Fitness</h1>

    <div class="fitness-container">
        <button class="fitness-box" type="button" onclick="window.location.href='/create-workout'"> <h2>Trainingsplan erstellen</h2></button>
        <button class="fitness-box" type="button" onclick="window.location.href='/workouts'"> <h2>Trainingspläne</h2></button>
        <button class="fitness-box" type="button" onclick="window.location.href='/start-workout'"><h2>Trainingsplan Starten</h2></button>

    </div>

</body>

</html>