<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Personal Tracker</h1>

{% with messages = get_flashed_messages(with_categories=true) %}    <!-- Jinja2-Syntax -->
     {% for category, message in messages %}

        <div class="popup">                     <!-- Fenster 1 (Hintergrund) -->
            <div class="popup-content">         <!-- Fenster 2 (Text + Button) -->
                <p>{{ message }}</p>

                {% if category == "success" %}
                    <button type="button" onclick="window.location.href='/selection'">OK</button>
                {% else %}
                    <button type="button" onclick="window.location.href='/'">OK</button>
                {% endif %}
            </div>
        </div>

    {% endfor %}
{% endwith %}

    <form action="/login" method="POST">

        <label for="username">Einlogname:</label>
        <input type="text" id="username" name="username">

        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Einloggen</button>

        <button type="button" onclick="window.location.href='/register'">Registrieren</button>

    </form>

</body>
</html>