<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Registrieren - Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Personal Tracker</h1>
    <h2>Registrieren</h2>

    {% with messages = get_flashed_messages() %}    <!-- Jinja2-Syntax -->
        {% for message in messages %}
            <div class="popup">                     <!-- Fenster 1(Hintergrund) -->
                <div class="popup-content">         <!-- Fenster 2(Text/Button) -->
                    <p>{{ message }}</p>
                     <button type="button" onclick="window.location.href='/'">OK</button>
                </div>
            </div>
        {% endfor %}                                <!-- Beendet die for-Schleife -->
    {% endwith %}                                   <!-- Beendet den with-Block -->

    <form action="/register" method="POST">

        <label for="username">Einlogname:</label>
        <input type="text" id="username" name="username">

        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password">

        <label for="password_confirm">Passwort wiederholen:</label>
        <input type="password" id="password_confirm" name="password_confirm">

        <button type="submit">Registrieren</button>

    </form>

</body>

</html>