<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Auswahl - Personal Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Was möchten Sie heute machen?</h1>

        <div class="selection-container">

        <button class="selection-box" type="button" onclick="window.location.href='/fitness'">
            <h2>Fitness</h2>
        </button>

        <button class="selection-box" type="button" onclick="window.location.href='/nutrition'">
            <h2>Ernährung</h2>
        </button>

</div>

</div>

</body>
</html>