<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Trainingsplan starten - Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>{{ workout[1] }}</h1>
    <button id="startWorkout" type="button">Trainingsplan starten</button>
    <div id="timer">00:00</div>

        <div id="current-exercise">
                <h2>Übung 1</h2>
                <h3>{{ exercises[0][0] }}</h3>
                <!-- [0] = erste Übung, [0] = Name der Übung
                     exercises[0][0] = Bankdrücken
                     exercises[0][1] = 3 Sätze
                     exercises[0][2] = 15 Wiederholungen
                     exercises[0][3] = 80 kg -->
                <p>{{ exercises[0][1] }} Sätze × {{ exercises[0][2] }} Wiederholungen - {{ exercises[0][3] }} kg</p>
                <button id="nextExercise" type="button">Next</button>
                <p>Fortschritt: <span id="progress">1</span> von {{ exercises[0][1] }}</p>

        </div>

<script>
                                    // Timer
let seconds = 0;
let timer = null;

const startButton = document.getElementById("startWorkout");
const timerDisplay = document.getElementById("timer");

startButton.addEventListener("click", function()
{
//nur 1 timer
    if (timer !== null)
    {
        return;
    }

    timer = setInterval(function()
    {
        seconds++;

        //minuten berechnen
        const minutes = Math.floor(seconds / 60);

        //sekunden innerhalb der aktuellen Minute berechnen
        const remainingSeconds = seconds % 60;

        //optic MM:SS
        const formattedMinutes = String(minutes).padStart(2, "0");    //String(minutes) macht die Zahl zum String
        const formattedSeconds = String(remainingSeconds).padStart(2, "0"); //padStart ergänzt bei Bedarf 0 vorne

        //timer auf der Seite aktualisieren
        timerDisplay.textContent = formattedMinutes + ":" + formattedSeconds;
    }, 1000);
});

                                        //Fortschirttanzeige
let progress = 1;
const maxProgress = Number("{{ exercises[0][1] }}");
const nextButton = document.getElementById("nextExercise");
const progressDisplay = document.getElementById("progress");

nextButton.addEventListener("click", function()
{
    if (progress < maxProgress)
    {
        progress++;
        progressDisplay.textContent = progress;
    }

});
</script>
</body>

</html>