<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Trainingsplan starten - Personal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>{{ workout[1] }}</h1>
    <button id="startWorkout" type="button">Trainingsplan starten</button>
    <div id="timer">00:00</div>

        <div id="current-exercise">
                <h2 id="exerciseNumber">Übung 1</h2>
                <h3 id="exerciseName">{{ exercises[0][0] }}</h3>
                <!-- [0] = erste Übung, [0] = Name der Übung
                     exercises[0][0] = Bankdrücken
                     exercises[0][1] = 3 Sätze
                     exercises[0][2] = 15 Wiederholungen
                     exercises[0][3] = 80 kg -->
                <p id="exerciseDetails">{{ exercises[0][1] }} Sätze × {{ exercises[0][2] }} Wiederholungen - {{ exercises[0][3] }} kg</p>
                <button id="nextExercise" type="button">Next</button>
                <p>Fortschritt: <span id="progress">1</span> von {{ exercises[0][1] }}</p>

                <h3>Workout-Fortschritt</h3>
                <div id="workoutProgress">
                    <div id="workoutProgressBar"></div>
                </div>
                <p id="workoutProgressText">0 von {{ exercises|length }} Übungen abgeschlossen</p>
        </div>

<script>
                                    // Timer
let seconds = 0;
let timer = null;

const startButton = document.getElementById("startWorkout");
const timerDisplay = document.getElementById("timer");

startButton.addEventListener("click", function()
{
//nur 1 timer
    if (timer !== null)
    {
        return;
    }

    timer = setInterval(function()
    {
        seconds++;

        //minuten berechnen
        const minutes = Math.floor(seconds / 60);

        //sekunden innerhalb der aktuellen Minute berechnen
        const remainingSeconds = seconds % 60;

        //optic MM:SS
        const formattedMinutes = String(minutes).padStart(2, "0");    //String(minutes) macht die Zahl zum String
        const formattedSeconds = String(remainingSeconds).padStart(2, "0"); //padStart ergänzt bei Bedarf 0 vorne

        //timer auf der Seite aktualisieren
        timerDisplay.textContent = formattedMinutes + ":" + formattedSeconds;
    }, 1000);
});

                                        //Fortschirttanzeige
let progress = 1;
let currentExercise = 0;
let maxProgress = Number("{{ exercises[0][1] }}");

const exercises = JSON.parse('{{ exercises | tojson }}');
const nextButton = document.getElementById("nextExercise");
const progressDisplay = document.getElementById("progress");

const exerciseNumber = document.getElementById("exerciseNumber");
const exerciseName = document.getElementById("exerciseName");
const exerciseDetails = document.getElementById("exerciseDetails");

nextButton.addEventListener("click", function()
{
    if (progress < maxProgress)
        {
            progress++;
            progressDisplay.textContent = progress;
        }
    else
        {
            if (currentExercise < exercises.length - 1)             //letze übung feststellen (exercises.length = insgesamt übungen -1 = vorletze übung)
                {
                    completedExercises++;
                    updateWorkoutProgress();

                    currentExercise++;
                    progress = 1;
                    maxProgress = exercises[currentExercise][1];
                    progressDisplay.textContent = progress;

                    exerciseNumber.textContent = "Übung " + (currentExercise + 1);
                    exerciseName.textContent = exercises[currentExercise][0];
                    exerciseDetails.textContent = exercises[currentExercise][1] + " Sätze × " + exercises[currentExercise][2] + " Wiederholungen - " + exercises[currentExercise][3] + " kg";
                }

            else
                {
                    window.location.href = "/fitness";
                }
        }
});
                                        // Fortschritts balken
let completedExercises = 0;

const workoutProgressBar = document.getElementById("workoutProgressBar");
const workoutProgressText = document.getElementById("workoutProgressText");

function updateWorkoutProgress()
{
    const percentage = (completedExercises / exercises.length) * 100;

    workoutProgressBar.style.width = percentage + "%";
    workoutProgressText.textContent = completedExercises + " von " + exercises.length + " Übungen abgeschlossen";
}

</script>
</body>

</html>