<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Trainingspläne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Meine Trainingspläne</h1>
    <button class="backButton" onclick="window.location.href='/fitness'"> Zurück</button>

    {% for workout in workouts %}

        <div class="workout">
            Workout {{ loop.index }} = {{ workout[1] }}
            <div class="exercises">
                {% for exercise in workout_exercises[workout[0]] %}
                <div>
                    <div class="exercise">
                        <strong>{{ exercise[0] }}:</strong>

                            <div>Sätze: {{ exercise[1] }}</div>
                            <div>Wiederholungen: {{ exercise[2] }}</div>
                        {% if exercise[3]|float > 0 %}
                            <div>Gewicht: {{ exercise[3] }} kg</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        <div class="workout-actions">
            <a href="{{ url_for('edit_workout', workout_id=workout[0]) }}">✏️</a>
            <a href="{{ url_for('start_workout', workout_id=workout[0]) }}">▶️</a>
        </div>
        </div>
    {% endfor %}
</body>

</html>